@font-face {
    font-family: GraphikLCG-regular;
    src: url(../FONTS/GraphikLCG-Regular.woff);
}

@font-face {
    font-family: GraphikLCG-semibold;
    src: url(../FONTS/GraphikLCG-Semibold.woff);
}

body {
    font: 25px/1.25 'GraphikLCG-regular', 'Arial', 'Helvetica',sans-serif;
}

a {
    color: #000000;
}

li {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    color: #ffffff;
    background: #FF6336;
    border: 1px solid #FF6336;
    transition: 0.3s linear;
}

.button a {
    text-decoration: none;
}

.head {
    background: #ffffff;
    padding: 40px;
    border-bottom: #3d3d3d 1px solid;
}

.flex_head {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.nav {
    font-size: 15px;
    margin-left: 60px;
}

.nav a {
    text-decoration: none;
    margin: 0 30px;
    position: relative;
    transition: 0.3s linear;
}

.nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: #FF6336;
    width: 0;
    transition: width 0.3s linear;
}

.nav a:hover {
    color: #FF6336
}

.nav a:hover:after {
    width: 100%;
}

.right {
    display: flex;
    margin-right: 20px;
}

.log {
    padding: 10px 30px;
    color: #000000;
    background: #ffffff;
    margin-right: 10px;
}

.log:hover {
    background: #FF6336;
}

.try:hover {
    color: #000000;
    background: #ffffff;
}

.main {
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 80px;
    padding-bottom: 200px;
}

.h2 {
    width: 500px;
    margin-left: 60px;
    flex-shrink: 0;
}

.h2 h2 {
    font-family: 'GraphikLCG-semibold';
    color: #000000;
    font-size: 65px;
    width: 600px;
    margin-right: -50px;
}

.text {
    color: #000000;
    font-size: 25px;
    width: 500px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.try2 {
    color: #ffffff;
    padding: 20px 30px;
    margin-right: 10px;
}

.try2:hover {
    background: #ffffff;
    color: #000000;
}

.book {
    color: #000000;
    background: #ffffff;
    padding: 20px 30px;
}

.book:hover {
    color: #ffffff;
    background: #FF6336;
}

.small_info {
    color: #000000;
    font-size: 15px;
}

.main_brands {
    padding: 100px;
    background: #FF9C7D;
}

.brand_h2 {
    font-family: 'GraphikLCG-semibold';
    color: #000000;
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reverse {
    background: #fcf6df;
}

.reverse h3 {
    color: #000000;
    font-family: 'GraphikLCG-semibold';
    font-size: 50px;
    line-height: 60px;
}

.reverse p {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.reverse1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control_text {
    max-width: 491px;
}

.start a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.start a:hover {
    text-decoration: underline;
}

.reverse2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.shorten_text {
    max-width: 450px;
}

.shorten_text p>a:hover {
    color: #FF6336;
}

