.main_block {
  color: $white-color;
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: $white-color url(/Homeworks/14_HTML/images/big_picture.jpg)
    no-repeat center/cover;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 56px;
    letter-spacing: 0.05em;
    margin-top: -50px;
    margin-bottom: 20px;
    @media (min-width: 405px) {
      font-size: 50px;
      line-height: 76px;
      margin-top: 0;
      margin-bottom: 30px;
    }
    @media (min-width: 530px) {
      font-size: 60px;
      line-height: 86px;
    }
    @media (min-width: 620px) {
      font-size: 72px;
      margin-bottom: 40px;
    }
  }
  .description {
    display: inline-block;
    max-width: 320px;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 60px;
    @media (min-width: 405px) {
      max-width: 340px;
      font-size: 16px;
      margin-bottom: 60px;
    }
    @media (min-width: 530px) {
      max-width: 360px;
      font-size: 18px;
    }
    @media (min-width: 620px) {
      max-width: 460px;
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
}

.features {
  text-align: center;
  background-color: #fafafa;
  padding-top: 43px;
  padding-bottom: 124px;
  @media (min-width: 715px) {
    padding-top: 63px;
    padding-bottom: 229px;
  }
  .main-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    margin-bottom: 23px;
    @media (min-width: 715px) {
      margin-bottom: 63px;
    }
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    @media (min-width: 715px) {
      flex-direction: row;
      gap: 30px;
    }
    .card {
      position: relative;
      max-width: 350px;
      max-height: 250px;
      &_text {
        padding: 32px 32px 25px;
        position: absolute;
        top: 63%;
        margin: 0 28px;
        background-color: $white-color;
        max-width: 293px;
        max-height: 198px;
        border-radius: 8px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        .title {
          padding-bottom: 20px;
          font-size: 12px;
          line-height: 14px;
          @media (min-width: 820px) {
            font-size: 15px;
            line-height: 18px;
          }
          @media (min-width: 950px) {
            font-size: 18px;
            line-height: 22px;
          }
        }
        .description {
          padding-bottom: 15px;
          font-size: 10px;
          line-height: 13px;
          @media (min-width: 820px) {
            font-size: 12px;
            line-height: 18px;
          }
        }
        .read {
          color: #ed4c5c;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.technology {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  @media (min-width: 700px) {
    padding-top: 63px;
    padding-bottom: 110px;
  }
  .title {
    font-size: 36px;
    line-height: 43px;
    font-weight: 600;
    margin-bottom: 30px;
    @media (min-width: 700px) {
      margin-bottom: 52px;
    }
  }
  .blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 510px) {
      flex-direction: row;
    }
  }

  .number {
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
    @media (min-width: 510px) {
      font-size: 50px;
      line-height: 60px;
    }
    @media (min-width: 615px) {
      font-size: 70px;
      line-height: 80px;
    }
    @media (min-width: 700px) {
      font-size: 90px;
      line-height: 100px;
    }
    @media (min-width: 748px) {
      font-size: 100px;
      line-height: 120px;
    }
  }
  .number_block {
    max-width: 255px;
    min-height: 226px;
    position: relative;
    padding: 0 30px 10px 34px;
    .content {
      position: absolute;
      left: 0;
      top: 25%;
      &_title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
        @media (min-width: 510px) {
          font-size: 14px;
          line-height: 16px;
        }
        @media (min-width: 615px) {
          font-size: 16px;
          line-height: 18px;
        }
        @media (min-width: 748px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
      .description {
        font-size: 12px;
        line-height: 14px;
        @media (min-width: 510px) {
          font-size: 10px;
          line-height: 12px;
        }
        @media (min-width: 615px) {
          font-size: 12px;
          line-height: 14px;
        }
      }
      .csv {
        margin-top: 12px;
      }
    }
  }
}
