.main_block {
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: $white-color url(/Homeworks/14_HTML/images/big_picture.jpg)
    no-repeat center/cover;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 86px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    @media (min-width: 620px) {
      font-size: 72px;
      margin-bottom: 40px;
    }
  }
  .description {
    display: inline-block;
    max-width: 360px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 60px;
    @media (min-width: 620px) {
      max-width: 460px;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      margin-bottom: 40px;
    }
  }
}
